html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/bgk-header.png);
    height: 500px;
 
 }
 .Module1 {
     
     height: 500px;
 }
 
 .Module2 {
     background-image: url(assets/bgk-middle.png);
     height: 500px;
 }
 .flex { 
     display: flex; 
     justify-content: center; 
     align-items: center;
 }
 body {
     background:
 }
 
 .topcontainer {
     display: flex;
 }
 nav {
        display: flex;
        justify-content: flex-end;      
        color: white; 
 
    }
    .nav ul li {
     color: #fff;
     display: inline-block; 
     justify-content: flex-end; 
     height: 80px;
     line-height: 80px; 
     list-style: none;
     padding: 0 10px;
     transition: background .5s; 
   }
 .btn {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }
     
 .nav {
     background-image: url(assets/bgk-header.png);
     height: 500px;
  }
  .Module1 {
      
      height: 500px;
  }
  
  .Module2 {
      background-image: url(assets/bgk-middle.png);
      height: 500px;
 
  }
  .flex { 
      display: flex; 
      justify-content: center; 
      align-items: center;
  }
  

.bodytext {
    font-family: Verdana;
    font-size: 11px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 480px;
}

.half {
    width: 30%;
    height: 100%;
}

.row form {
    padding: 50px;
}

.row h2 {
    font-size: 20px;
    padding-bottom: 12px;
}

.row h3 {
    padding-top: 10px;
}

.contactflexbox {
    width: 340px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.contact input, textarea {
    display: block;
    height: 22px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 0;
    padding-left: 10px;
}

.contact textarea {
    height: 120px;
    padding-top: 10px;
    resize: none;
}

::placeholder {
    color: lightgray;
}

.submission input {
    width: 80px;
    padding: 5px;
    margin-top: 12px;
    border: 1px solid #00E0D0;
    border-radius: 0;
    background-color: white;
    color: #00E0D0;
}

.clients {
    padding: 50px;
}

.logoflexboxContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoflexbox {
    width: 49%;
    height: 60px;
    padding: 20%
    text-align: center;
}

.logoflexbox img {
    object-fit: contain;
    height: 60%;
    width: 60%;
}

footer {
    color: white;
    background-image: url("assets/bgk-footer.png");
}

#bottomRow {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
}

.top {
    height: 80%;
    display: flex;
    justify-content: center;
}

.third {
    padding-top: 50px;
    padding-right: 2%;
    width: 18%;
    height: 100%;
}

.tajamLogo {
    height: 20%;
    padding-left: 50px;
    padding-top: 6%;
    display: flex;
    align-items: center;
}

.summary {
    padding-left: 50px;
    margin-top: 25px;
}

.tajamLogo h2 {
    color: #00E0D0;
    font-weight: lighter;
}

.tajamLogo img {
    margin-right: 8px;
    object-fit: contain;
}

.address {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.address img, .number img {
    width: auto;
    height: 15px;
    padding-right: 10px;
}

.address img {
    padding-top: 10px;
}

.number img, p {
    display: inline;
}

.textfield {
    height: 15%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 17px;
}

.textfield input {
    background-color: transparent;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 0;
    color: lightgray;
    font-size: 11px;
}

.textfield div {
    height: 5%;
}

.textfield img {
    padding: 3px 15px 3px 15px;
    margin-left: 6px;
    background-color: white;
    opacity: 0.3;
    object-fit: contain;
}

.icons img {
    width: 25px;
    height: auto;
}

.buttons p {
    margin-right: 10px;
}

.bottom {
    margin: 0 20% 0 20%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

